html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Mono", monospace;
  color: aliceblue;
  background: center/cover url(../images/bg.jpg);
  background-repeat: no-repeat;
}

main {
  width: 80%;
  margin: 10% auto;
}

#logo {
  content: "";
  display: inline-block;
  background: center/cover url(../images/logo.png);
  width: 32px;
  height: 32px;
  margin-right: 60px;
}

header {
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  padding: 2.5%;
  display: flex;
  justify-content: center;
}

nav {
  display: flexbox;
  justify-content: space-around;
}

button {
  background-color: black;
  border-color: #dd77ee;
  font-family: "Space Mono", monospace;
  font-size: 1em;
  padding: 0.2em 2em 0.2em;
}

button:hover {
  border-color: #dd77ee;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #dd77ee;
  transform: translateY(-0.25em);
}

h1,
h2,
nav button {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 13px #fff, 0 0 42px #dd77ee, 0 0 92px #dd77ee,
    0 0 102px #dd77ee;
}
.project img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  margin: 0 4em 0 4em;
}

.project {
  border: 2px solid #dd77ee;
  padding: 1%;
  margin-bottom: 5%;
  box-shadow: 0 0 10px #fff, 0 0 13px #fff, 0 0 17px #dd77ee;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  font-weight: bold;
  color: #dd77ee;
}

#photo {
  display: flex;
  justify-content: center;
}

footer img {
  width: 32px;
  height: 32px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 0 5%;
}

a {
  color: aliceblue;
}

a:visited {
  color: #dd77ee;
}
